/*IMAGENS EQUIPA*/

/*large desktop*/
.equipa-parallax_img-wrap:nth-child(7n + 1) {
  margin-top: 0;
  margin-left: 18.5%;
  align-self: start;
}
.equipa-parallax_img-wrap:nth-child(7n + 2) {
  margin-top: -7rem;
  margin-right: 17.6%;
  align-self: end;
}
.equipa-parallax_img-wrap:nth-child(7n + 3) {
  margin-top: -13rem;
  margin-left: 40%;
  align-self: start;
}
.equipa-parallax_img-wrap:nth-child(7n + 4) {
  margin-top: -7rem;
  align-self: end;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
}
.equipa-parallax_img-wrap:nth-child(7n + 5) {
  margin-top: -19rem;
  align-self: start;
  border-radius: 0rem 0.25rem 0.25rem 0rem;
}
.equipa-parallax_img-wrap:nth-child(7n + 6) {
  margin-top: -7rem;
  margin-left: 27.5%;
  align-self: start;
}
.equipa-parallax_img-wrap:nth-child(7n) {
  margin-top: -8rem;
  margin-right: 22.7%;
  align-self: end;
}

/*desktop*/
@media only screen and (min-width: 992px) and (max-width: 1800px) {
  .equipa-parallax_img-wrap:nth-child(7n + 1) {
    margin-top: 0;
    margin-left: 18.5%;
    align-self: start;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 2) {
    margin-top: -9vw;
    margin-right: 17.6%;
    align-self: end;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 3) {
    margin-top: -13vw;
    margin-left: 40%;
    align-self: start;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 4) {
    margin-top: -7vw;
    align-self: end;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 5) {
    margin-top: -19vw;
    align-self: start;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 6) {
    margin-top: -7vw;
    margin-left: 27.5%;
    align-self: start;
  }
  .equipa-parallax_img-wrap:nth-child(7n) {
    margin-top: -8vw;
    margin-right: 22.7%;
    align-self: end;
  }
}

/*tablet*/
@media only screen /*and (min-width: 480px) */and (max-width: 991px) {
  .equipa-parallax_img-wrap:nth-child(7n + 1) {
    margin-top: 0;
    margin-left: 7.5%;
    align-self: start;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 2) {
    margin-top: -9vw;
    margin-right: 21.6%;
    align-self: end;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 3) {
    margin-top: -13vw;
    margin-left: 30%;
    align-self: start;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 4) {
    margin-top: -7vw;
    align-self: end;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 5) {
    margin-top: -19vw;
    align-self: start;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 6) {
    margin-top: -7vw;
    margin-left: 27.5%;
    align-self: start;
  }
  .equipa-parallax_img-wrap:nth-child(7n) {
    margin-top: -8vw;
    margin-right: 22.7%;
    align-self: end;
  }
}

/*Landscape down*/
@media only screen and (max-width: 479px) {
  .equipa-parallax_img-wrap:nth-child(7n + 1) {
    margin-top: 0;
    margin-left: 0%;
    align-self: start;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 1):not(:first-child) {
    margin-top: 15vw;
    margin-left: 0%;
    align-self: start;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 2) {
    margin-top: -12vw;
    margin-right: 0%;
    align-self: end;
    border-radius: 0.25rem 0rem 0rem 0.25rem;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 3) {
    margin-top: -11vw;
    margin-left: 12%;
    align-self: start;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 4) {
    margin-top: -6vw;
    margin-right: 12%;
    align-self: end;
    border-radius: 0.25rem;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 5) {
    margin-top: -8vw;
    align-self: start;
  }
  .equipa-parallax_img-wrap:nth-child(7n + 6) {
    margin-top: -7vw;
    margin-left: 0;
    align-self: end;
    border-radius: 0.25rem 0rem 0rem 0.25rem;
  }
  .equipa-parallax_img-wrap:nth-child(7n) {
    margin-top: -8vw;
    margin-right: 0;
    margin-left: 20%;
    align-self: start;
  }
}
